@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster+Two&display=swap');
 
body{
  background: #000000;
}

.App{
  display: flex;
  justify-content: center;
  max-height: 100vh;
  align-items: center;
  flex-direction: column;
  margin-top: 7%;
}


.logoIMG{
  position: absolute;
  top: 20px;
}
.logoIMG img{
  width: 80px;
}

.App h2{
  color: #fff;
  font-size: 30px;
}
.quote{
  background: url(./asset/bg.jpg);
  background-size: cover;
  width: 450px;
  height: fit-content;
  border-radius: 3rem;
  padding: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border-radius: 4rem 4rem 0 0;  ; */
}

.quote h2{
  color: #fff;
  font-size:3rem;
  font-family: 'Lobster Two', cursive;
}

.quote small{
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Dancing Script', cursive;
}

.btn {
	display: block;
	border: 2px solid #008CBA;
	background: transparent;
	padding: 10px 15px;
	color: #008CBA;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	/* transition: background 1s, color 1s; */
}

.btn:active{
	background: #008CBA;
  /* transition: 3s; */
	color: #fff;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.down-GenBTN{
  display: flex; 
  justify-content: space-around;
}
.share-buttons{
  display: flex;
  top: 20px;
}


.btnShare{
  position: absolute;
  top: 60px;
  right: 300px;
  border: 2px solid #008CBA;
	background: transparent;
	padding: 10px 15px;
	color: #008CBA;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}
.btnShare1{
  position: absolute;
  top: 60px;
  left: 300px;
  border: 2px solid #008CBA;
	background: transparent;
	padding: 10px 15px;
	color: #008CBA;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}

.btnDownlaod{
  margin-top: 5px;
  border: 2px solid #008CBA;
	background: transparent;
	padding: 10px 15px;
	color: #008CBA;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}

.deve{
  margin-top: 3%;
  color: #fff;
  margin-bottom: -10px;
}



@media (max-width: 768px) {
  body{
    background: hsl(0, 0%, 0%);
    padding: 0;
    margin: 0;
  }

  .App{
    width: 95%;   
    margin-top: 45%; 
  }
  .logoIMG{
    position: absolute;
    top: 40px;
  }
  .logoIMG img{
    width: 80px;
  }

  .deve{
    margin-top: 35%;
  }
  .quote{
    margin-top: -10%;
    margin: 5px;
    width: 80%;
    height: 100px;
    background: url(./asset//port2.jpg);
    background-size: cover;
  }



  .btn{
    font-size: 16px;
    /* padding: 10px 15px; */
  }

  .btnDownlaod{
    font-size: 16px;
    padding: 10px 15px;
  }
  .btnShare {
    right: 5px;
    top: 120px;
    padding: 10px 15px;
	  font-size: 14px;
   
  }
  
  .btnShare1{
    left: 5px;
    top: 120px;
    font-size: 14px;
  }

  .quote h2{
    font-size: 20px;
  }
}
 